/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    color: #FFF;
    font-size: 2rem;
    font-weight: 300;
}
/* BUTTONS */
.Buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Button{
    cursor: pointer;
}
/* FLEX */
.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.center{
    justify-content: center;
    align-items: center;
}
/* GRID */
.grid{
    display: grid;
    gap: 0.3rem;
}
.grid-5{
    grid-template-columns: repeat(5,1fr);
}
.pos-2{
    grid-row: 2;
}
/* CONFIG BOARD */
.ConfigBoard p{
    color: #FFF;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin: 1rem 0;
}
.ConfigBoard p span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-red,red);
}
.Input{
    border-radius: 0.9375rem;
    border: 1px solid rgba(147, 172, 211, 0.18);
    background: #0C111E;
    padding: 1rem 0;
    margin: 0.5rem 0;
    line-height: normal;
    text-align: center;
    font-style: normal;
}
.Input label{
    color: #EAEAEA;
    font-size: 1rem;
    font-weight: 700;
    display: block;
}
.Input input{
    display: block;
    text-align: center;
    margin: 0.5rem auto;
    background-color: transparent;
    border: none;
    color: #EAEAEA;
    font-size: 1.5rem;
}
.Input a {
    color: #EAEAEA;
    text-decoration: none;
    margin: 0 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.red{
    background: #D70840;
}
.white{
    background-color: #EAEAEA;
    color: #D70840;
}
/* BOARD */
.imgBoard{
    width: 100%;
}
/* FOOTER */
.Footer{
    margin: 0 auto;
}
.footer-social{
    text-align: center;
    margin: 1rem auto;
}
.icons-redes{
    width: 3rem;
}
.designer-developer{
    color: #FFF;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    gap: 10px;
}
.designer-developer h3{
    margin: 0 auto;
    font-size: 0.875rem;
    font-weight: 700;
}
