:root {
  font-family: 'Montserrat', system-ui;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-red: #D70840
}


body {
  margin: 0 auto;
  max-width: 1920px;
  width: 95%;
}
